{% extends "base.html" %}



{% block announce %}
我的 QQ 交流群：
<a target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=Vcspr10ZnFcPd29hgPUgmxcBPsPni6pC&jump\_from=webapi&authKey=uKMeRLS8aWCJwEXlYmkKeg1aBg4xmt/UbdXvEejPDOqCxhIKpqLK8Q+qG4ZFl0Nn](https://qm.qq.com/cgi-bin/qm/qr?k=Vcspr10ZnFcPd29hgPUgmxcBPsPni6pC&jump_from=webapi&authKey=uKMeRLS8aWCJwEXlYmkKeg1aBg4xmt/UbdXvEejPDOqCxhIKpqLK8Q+qG4ZFl0Nn">
    <span class="twemoji fontawesome-brands-qq">
        {% include ".icons/fontawesome/brands/qq.svg" %}
    </span>
    <strong>945535472</strong>
</a>
，欢迎来群里玩呀！
{% endblock %}
