.md-post__cover {
    width: 100%;
    height: 16em;
    margin-bottom: .6rem;
    object-fit: cover;
    border-radius: .1rem;
    background: var(--md-default-fg-color--lightest);
}

.md-post__content > p a,
.md-post__header a {
    color: inherit;
}
